src/map/ss0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="scriptinclude" type="xs:string"/>
  <xs:element name="styleinclude" type="xs:string"/>
  <xs:element name="htmltempalte" type="xs:string"/>
  <xs:element name="includedjsp" type="xs:string"/>
  <xs:element name="callbackclass" type="xs:string"/>
  <xs:element name="scripts">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="scriptinclude" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stylesheets">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="styleinclude" minOccurs="0"/>
        <xs:element ref="scriptinclude" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countquery">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:byte" name="pagesize"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="jsonrpc">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:byte" name="id" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectonload">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="countquery" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="stackid" use="optional"/>
      <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="savefieldids" type="xs:string"/>
  <xs:element name="sqlselect">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="type" use="optional"/>
          <xs:attribute type="xs:string" name="stackid" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="sqlinsert" type="xs:string"/>
  <xs:element name="sqldelete" type="xs:string"/>
  <xs:element name="sqlselectcount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="refselectid"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="sqlupdate" type="xs:string"/>
  <xs:element name="sometype">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name"/>
          <xs:attribute type="xs:string" name="dbdatatype"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="xpath">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="position" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="rule" type="xs:string"/>
  <xs:element name="query">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="type" use="optional"/>
          <xs:attribute type="xs:string" name="stackid" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="div">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="xpath"/>
        <xs:element ref="rule"/>
        <xs:element ref="validation" minOccurs="0"/>
        <xs:element ref="query"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id" use="optional"/>
      <xs:attribute type="xs:string" name="forid" use="optional"/>
      <xs:attribute type="xs:string" name="replace" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="input">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="rule"/>
        <xs:element ref="validation" minOccurs="0"/>
        <xs:element ref="query" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type" use="optional"/>
      <xs:attribute type="xs:string" name="class" use="optional"/>
      <xs:attribute type="xs:string" name="forid" use="optional"/>
      <xs:attribute type="xs:string" name="value" use="optional"/>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="id" use="optional"/>
      <xs:attribute type="xs:string" name="column" use="optional"/>
      <xs:attribute type="xs:string" name="dbdatatype" use="optional"/>
      <xs:attribute type="xs:string" name="primarykey" use="optional"/>
      <xs:attribute type="xs:string" name="dbcolsize" use="optional"/>
      <xs:attribute type="xs:string" name="mask" use="optional"/>
      <xs:attribute type="xs:string" name="mandatory" use="optional"/>
      <xs:attribute type="xs:string" name="hidden" use="optional"/>
      <xs:attribute type="xs:string" name="label" use="optional"/>
      <xs:attribute type="xs:string" name="replace" use="optional"/>
      <xs:attribute type="xs:string" name="validationattr" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="text" type="xs:string"/>
  <xs:element name="select">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="text"/>
        <xs:element ref="rule"/>
        <xs:element ref="validation" minOccurs="0"/>
        <xs:element ref="query"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type" use="optional"/>
      <xs:attribute type="xs:string" name="class" use="optional"/>
      <xs:attribute type="xs:string" name="forid" use="optional"/>
      <xs:attribute type="xs:string" name="value" use="optional"/>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="id" use="optional"/>
      <xs:attribute type="xs:string" name="column" use="optional"/>
      <xs:attribute type="xs:string" name="dbdatatype" use="optional"/>
      <xs:attribute type="xs:string" name="dbcolsize" use="optional"/>
      <xs:attribute type="xs:string" name="mask" use="optional"/>
      <xs:attribute type="xs:string" name="mandatory" use="optional"/>
      <xs:attribute type="xs:string" name="hidden" use="optional"/>
      <xs:attribute type="xs:string" name="label" use="optional"/>
      <xs:attribute type="xs:string" name="replace" use="optional"/>
      <xs:attribute type="xs:string" name="validationattr" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="field">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sometype" minOccurs="0"/>
        <xs:element ref="div" minOccurs="0"/>
        <xs:element ref="input" minOccurs="0"/>
        <xs:element ref="select" minOccurs="0"/>
        <xs:element ref="customfield" minOccurs="0"/>
        <xs:element ref="compositefield" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crud">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="jsonrpc"/>
        <xs:element ref="selectonload"/>
        <xs:element ref="savefieldids"/>
        <xs:element ref="sqlselect"/>
        <xs:element ref="sqlinsert"/>
        <xs:element ref="sqldelete"/>
        <xs:element ref="sqlselectcount"/>
        <xs:element ref="sqlupdate"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="fields">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="field" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="button">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="forid" use="optional"/>
          <xs:attribute type="xs:string" name="onclick" use="optional"/>
          <xs:attribute type="xs:string" name="replace" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="validation" type="xs:string"/>
  <xs:element name="customfield">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="text" minOccurs="0">
          <xs:annotation>
            <xs:documentation>will need to experiment to see if dojo tags of struts2 like datepicker can be added?</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="rule" minOccurs="0"/>
        <xs:element ref="validation" minOccurs="0">
          <xs:annotation>
            <xs:documentation>rule>[{fieldname:"dateid",rules:{required:true},messages:{required: "Dojo Date is mandatory field"}}]&lt;/rule</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="query" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type" use="optional"/>
      <xs:attribute type="xs:string" name="class" use="optional"/>
      <xs:attribute type="xs:string" name="forid" use="optional"/>
      <xs:attribute type="xs:string" name="validationattr" use="optional"/>
      <xs:attribute type="xs:string" name="column" use="optional"/>
      <xs:attribute type="xs:string" name="dbcolsize" use="optional"/>
      <xs:attribute type="xs:string" name="mask" use="optional"/>
      <xs:attribute type="xs:string" name="replace" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="datafield">
    <xs:complexType>
      <xs:attribute name="column" use="required" type="xs:NCName"/>
      <xs:attribute name="forid" use="required" type="xs:NCName"/>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="displayfield">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="type" use="optional"/>
          <xs:attribute type="xs:string" name="name" use="optional"/>
          <xs:attribute type="xs:string" name="forid" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="compositefield">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="datafield"/>
        <xs:element ref="displayfield" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="text"/>
        <xs:element ref="rule"/>
        <xs:element ref="validation"/>
        <xs:element ref="query"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type"/>
      <xs:attribute type="xs:string" name="class"/>
      <xs:attribute type="xs:string" name="forid"/>
      <xs:attribute type="xs:string" name="validationattr"/>
      <xs:attribute type="xs:string" name="column"/>
      <xs:attribute type="xs:string" name="dbcolsize"/>
      <xs:attribute type="xs:string" name="mask"/>
      <xs:attribute type="xs:string" name="replace"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="panel">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="crud" minOccurs="0"/>
        <xs:element ref="fields"/>
        <xs:element ref="button" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="screen">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="htmltempalte"/>
        <xs:element ref="includedjsp" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="callbackclass"/>
        <xs:element ref="scripts"/>
        <xs:element ref="stylesheets"/>
      </xs:choice>
      <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="panels">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="panel" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="screen"/>
        <xs:element ref="panels"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>